.sr-only {
  display: none !important;
}


.note {
  display: block;
  width: 100%;

  .label-note {
    width: 20%;
    display: block;
    float: left;
  }

  .numbers {
    display: block;
    float: left;
    width: 60%;

    label {
      display: block;
      text-align: center;
      float: left;

      span {
        display: block;
      }

      input {
        margin: 0;
      }

      &.note-1 {
        width: 100/1%
      }
      &.note-2 {
        width: 100/2%
      }
      &.note-3 {
        width: 100/3%
      }
      &.note-4 {
        width: 100/4%
      }
      &.note-5 {
        width: 100/5%
      }
      &.note-6 {
        width: 100/6%
      }
      &.note-7 {
        width: 100/7%
      }
      &.note-8 {
        width: 100/8%
      }
      &.note-9 {
        width: 100/9%
      }
      &.note-10 {
        width: 100/10%
      }
      &.note-11 {
        width: 100/11%
      }
    }
  }

}


input.radio-list, input.checkbox-list {
  float: left;
  margin-top: 5px;
}